
.right {
    position: absolute;
    right: -10px;
    top: 250px;
    text-align: center;
}

.right span {
    width: 400px;
    position: absolute;
    bottom: -150px;
    left: -450px;
}

.left-bottom {
    position: absolute;
    left: 0px;
    top: 200px;
    text-align: center;
}

.left-bottom span {
    width: 200px;
    position: absolute;
    bottom: -160px;
    right: -350px;
}

.space-cubes {
    width: 100px;
    height: 100px;
    perspective: 600px;

}

.cubes {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    animation: cube-animation 6s linear infinite;
}

.side {
    width: inherit;
    height: inherit;
    border: 1px solid black;
    position: absolute;
}


.fronts {
    transform: translateZ(80px);
    background-color: #f005;
}

.backs {
    transform: rotateY(180deg) translateZ(80px);
    background-color: #0f05;
}

.rights {
    transform: rotateY(90deg) translateZ(80px);
    background-color: #ff05;
}

.lefts {
    transform: rotateY(-90deg) translateZ(80px);
    background-color: #0ff5;
}

.bottoms {
    transform: rotateX(-90deg) translateZ(80px);
    background-color: #00f5;
}

.tops {
    transform: rotateX(90deg) translateZ(80px);
    background-color: #f0f5;
}

@keyframes cube-animation {
    from {
        transform: rotateY(360deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

.backgrounds {
    /* position: absolute; */
    top: 150px;
    left: 90px;
}


.grids{
    margin: 100px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
@media (max-width: 1201px){
    .grids{
        margin: 100px 1px;
        display: grid;
        gap: 120px;
        grid-template-columns: repeat(3, 1fr);
    }   
}

@media (max-width: 723px){
    .grids{
        margin: 100px 40px;
        display: grid;
        gap: 120px;
        grid-template-columns: repeat(2, 1fr);
    }   
}



@media (max-width: 471px){
    .grids{
        margin: 100px 60px;
        display: grid;
        gap: 120px;
        grid-template-columns: repeat(1, 1fr);
    }   
}